/* Give your page a fun background color */
/* Align the h1 containing your name in the center of the header*/
body {
  font-family: "Montserrat";
  text-align: center;
  background: #2d4059;
  margin: 0;
}

/* Make the header and footer a different color from the background */
.header {
  display: block;
  background: #2d4059;
  text-align: center;
  padding: 25px;
}

h1 {
  text-shadow: 2px 2px 2px #000;
  color: #fff;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
  font-size: 4.5rem;
  margin: 0;
}

.content {
  min-height: calc(100vh - 120px);
  background-color: #ffd460;
}

/* Put a border around your image */
img {
  background-image: url('https://wallpaper-house.com/data/out/8/wallpaper2you_217038.jpg');
  background-size: cover;
  border-style: solid;
  border-width: 3px;
  margin-top: 25px;
  size: 100%;
  border-radius: 15px;
}

.ruby-img {
  margin-top: 125px;
}

/* Change the font-family of your list */
.list {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-align: center;
  padding-bottom: 50px;

}

.list-title {
  padding-top: 50px;
  font-size: 200%;
  color: #f07b3f;
  letter-spacing: 2px;
}

.list-items {
  text-align: left;
  font-size: 125%;
  line-height: 2;
  color: #f07b3f;
  letter-spacing: 1.2px;
}

/* Make your p tag a different color and italic */
footer {
  font-family: 'Roboto', sans-serif;
  background-color: #2d4059;
  color: white;
  font-style: italic;
  font-size: 15px;
  padding: 25px;
}
